<html>
    <head>
    <h1>iCoffee</h1>
    <h2>Menu</h2>
        <link rel= "stylesheet" href="/css/bootstrap.css">
        <style>
            body{
                background: lightblue;
            }
            h2{color:oldlace;}
            .container{
                background: border-box;
            }
        </style>
    <body>
    <button class ="btn btn-primary">Shop</button>
    <button class ="btn btn-secondary">Contact</button>
    <button class ="btn btn-success">Map</button>
    </body>
    </head>
</html>
